.Login.main {
    width: 40%;
    position: absolute;
    left: 30%;
    padding-top: 20px;
}

.Login.background {
    background-image: url(https://forums.unrealengine.com/filedata/fetch?id=1113441&d=1470732920);
    background-size: cover;
    height: calc(100vh - 50px);
}