.Login.main {
    width: 40%;
    position: absolute;
    left: 30%;
    padding-top: 20px;
}

.Login.background {
    background-size: cover;
    height: calc(100vh - 50px);
    background-image: linear-gradient(white, grey);
}